<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-eqiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>._Portfolio_.</title>
    <link rel= "stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">
            <img src="/assets/images/logo.png">
            My_Portfolio
        </a>
        <nav class="navbar">
            <a href="#home" style="--i:1" class="nav-link" data-tooltip="Home"><i class="fas fa-home"></i></a>
            <a href="#skills" style="--i:2" class="nav-link" data-tooltip="Skills"><i class="fas fa-cogs"></i></a>
            <a href="#certificates" style="--i:3" class="nav-link" data-tooltip="certificates"><i class="fas fa-certificate"></i></a>
            <a href="#projects" style="--i:4" class="nav-link" data-tooltip="Projects"><i class="fas fa-project-diagram"></i></a>
        </nav>
    </header>
    <section class="home" id="home">
    <div class="home-content">
        <div class="text-container">
            <h3>Hello, It's me</h3>
            <h1>Sweety Sara Sunny</h1>
            <h3>And I'm a student</h3>
            <p>Expecting on finding a perfect environment that can bring out the best in me for the advancement of the company.<br> Looking forward to flourish there in technical abilities and social intercourse.</p>
            <div class= "home-sci">
                <a href="https://www.linkedin.com/in/sweety-sara-sunny-429670241?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BQV%2FZSLpBQQGGOvZ3LohWvA%3D%3D"style="--i:5"><i class='bx bxl-linkedin'></i> </a>
                <a href="https://www.instagram.com/sweety.sara?igsh=MXc5M3ZyNHo2YTVxcw==" style="--i:6"><i class='bx bxl-instagram'></i> </a>
                <a href="https://wa.me/919497801453" style="--i:7"><i class='bx bxl-whatsapp'></i> </a>
                <a href="https://github.com/sweetysara" style="--i:8"><i class='bx bxl-github'></i> </a>
            </div>
            <a href="/assets/files/resume.pdf" download="Sweety Sara Sunny" class="btn" >
                Download Resume
                <i class="fa fa-download"> </i>
            </a>
            </div>
        <div class="image-container">
            <img src="/assets/images/pic.png" alt="Your Picture">
        </div>

    </div>
    </section>

    <section class="skills" id="skills">
            <div class="skills-container">
                <h3>Hello</h3>
            </div>
    </section>
    <section class="certificates" id="certificates">
            <div class="">
                <h3>Hello</h3>
            </div>
    </section>
    <section class="projects" id="projects">
            <div class="middle-text">
                <h2>My Projects</h2>
            </div>
        <div class="projects-content">
            <div class="col" >
                <a href="project1.html">
                    <h3>03</h3>
                    <h4>WEB DESIGN</h4>
                       <p>
                           Read More
                            <i class='bx bx-right-arrow-alt'></i>
                       </p>
                </a>
            </div>
            <div class="col" >
                <a href="project2.html">
                    <h3>03</h3>
                    <h4>WEB DESIGN</h4>
                       <p>
                           Read More
                            <i class='bx bx-right-arrow-alt'></i>
                       </p>
                </a>
            </div>
            <div class="col" >
                <a href="project3.html">
                    <h3>03</h3>
                    <h4>WEB DESIGN</h4>
                       <p>
                           Read More
                            <i class='bx bx-right-arrow-alt'></i>
                       </p>
                </a>
            </div>
        </div>
    </section>

<script src="main.js"></script>
</body>
</html>
