<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-eqiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sweety Sara Sunny</title>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">
            <img src="/assets/images/logo.png">
            My_Portfolio
        </a>
    </header>
    <section class="projects" id="projects">
            <div class="middle-text">
                <h2>My Projects</h2>
            </div>
        <div class="projects-content">
            <div class="col">
                <h3>01</h3>
                <h4>WEB DESIGN</h4>
                <p>Expecting on finding a perfect environment that can bring out the best in me for the advancement of the company.<br> Looking forward to flourish there in technical abilities and social intercourse.</p>
                <a href="#" class="s-btnn">
                    Read More
                    <i class="ri-arrow-right-up-line"></i>
                </a>
            </div>
        </div>
    </section>

<script src="main3.js"></script>
</body>
</html>
